.sectionAbout{
    display: grid;
    place-items: center;
    margin-top: 50px;
    gap: 20px;
}

.sectionAbout h2{
    font-size: 30px;
    text-align: center;
}

.team_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards in one row */
    gap: 5rem;
}

.member-card{
    background: #e24242;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
}
