
.container2{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
    text-align: center;
}

.container2 h1{
    text-align: center;
    font-size: 50px;
    margin-top: 1px;
}

.popular-courses{
    padding: 4rem 0;
    text-align: center;
}

.popular-courses h2{
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* GRID FIX */
.course-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards in one row */
    gap: 5rem;
}

/* CARD FIX */
.course-card{
    background: #e24242;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.course-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.course-card .rating span{
    color: #ffc107;
}

.course-card .btn{
    margin-top: 1rem;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .course-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .course-grid{
        grid-template-columns: 1fr;
    }
}

.button{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3 ease;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.button:hover{
    background-color: #0056b3;
} 

.button-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3 ease;
    justify-content: center;
}

.btn:hover{
    background-color: #0056b3;
} 

.btn-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
