body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.footer-div{
    margin-top: auto;
    padding: 40px 0;
    width: 100%;
    background-color: #000;
    border-radius: 2px solid black;
} 

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 20px 1px solid #c80c0c;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column{
    margin-bottom: 20px;
}

.footer-column h4{
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #e24242;
}

.footer-column ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li{
    margin-bottom: 10px;
}

.footer-column ul li a{
    color: #007bff;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-column ul li a:hover{
    color: #007bff;
}

.footer-bottom{
    text-align: center;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    color: #f8f5f5;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: #007bff;
}

.social-icons img{
    width: 30px;
    height: auto;
    margin: 0 10px;
}

