body{
    font-family: Arial, sans-serif;
    background-color: #f0ad4e1a;
}

.course-header{
    background-color: #f0ad4e;
    color: white;
    padding: 40px;
    text-align: center;
}

.content{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
